.menu-handler {
  background-color: black;
  color: white;
}

.menu-handler .menu {
  margin: 8px 0;
  padding: 4px;
}
.menu-handler .menu.site {
  border: 1px solid blue;
}
.menu-handler .menu.zone {
  border: 1px solid green;
}
.menu-handler .menu.building {
  border: 1px dashed gray;
}

.menu-handler .menu .level {
  color: red;
}
